@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rock+Salt&family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&family=Shadows+Into+Light+Two&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.dark-mode-background {
    background-color: #000000;
}

a:link, a:active, a:visited {
    text-decoration:none;
}

ul {
    list-style: none;   
}
svg {
    width: 40%;
    margin-top: 6px;
}

h1 {
    color: rgb(139, 101, 29);
    font-size: 300%;
    padding-bottom: 5px;
    font-family: 'Rock Salt', cursive;
}

h2 {
    font-size: 45px;
    padding-bottom: 20px;
}

h4 {
    font-size: 18px;
    margin: 20px 0px 16px;
    color:#000000;
}
h3 {
    font-size: 200%;
}
section {
    padding: 110px 40px 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, .link-to-projects, .autor-cita, input[type="submit"], label, .contact-nav {
    font-weight: bold;
}


.text-description {
    width: 50%;
    text-align: center;
    color:rgb(61, 61, 61);
    font-size: 18px;
    margin: 20px 0;
}


/*-------------------NAV---------------------*/

nav {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    box-shadow: 0px 5px 8px #ffd484;
    width:100%;
    padding: 20px 80px;
    position: fixed;
    z-index: 2;
    line-height: 2.5;
}

.switch {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(248, 248, 248);
    border-radius: 200px;
    width: 80px;
    height: 35px;
    border: 1px solid #ffffff;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: 0.8;
    transition: background-color 0.2s linear;
}

.switch-light-mode {
    background:rgb(31, 31, 31);
    transition: background-color 0.2s linear;
}

.switch span {
    font-size: 20px;
    line-height: 30px;
    color: rgb(255, 255, 255);  
}

#lamp-yellow {
    color: #000000
}
.circle {
    width: 35px;
    height: 35px;
    position: absolute;
    border-radius: 100%;
    top: 0;
    background-color: rgb(139, 101, 29);
    position: absolute;
    left: 0;
    right: unset;
    border: 2px solid rgb(0, 0, 0);
  
}
.circle-dark-mode {
    left: unset;
    right: 0;  
}

.list-nav-links {
    display: flex;
    justify-content: flex-end;
    margin: 5px 0;
    margin: 0px 70px;
}

.list-nav-links a {
    color: #ffffff;
}

.link-nav {
    display: flex;
    justify-content: center;
    margin: 0px 10px;
    padding: 0 10px;
    border-radius: 20px;
}

.contact-nav, .link-to-projects {
    background-color: rgb(139, 101, 29);
    transition: 0.7s;
}

.buttons-nav-bar {
    display: flex;
    justify-content: space-around;
    width: 150px;
}

/* menu hamburguesa */

.fa-bars {
    color:rgb(139, 101, 29);
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.container-menu-hamburguesa {
    height: 100%;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: -100%;
    transition: 0.8s;   
    z-index: 3;
}

.container-close-menu-hamburguesa {
    position: absolute;
    top:0;
    right: 0;
}

.fa-times {
   font-size: 20px;
   color: #ffffff;
   margin: 25px;
   cursor: pointer;
}

.links-list-menu-hamburguesa {
   height: 500px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: 20px;
   font-weight: bold;
}

.social-icons-hamburguesa {
    display: flex;
    height: 100px;
    align-items: flex-end;
}

li > .link-nav-menu-hamburguesa {
  margin: 25px 0px;
}



/* -------------------Seccion Principal--------------------- */


.main-section {
    justify-content: center;
    flex-direction: row;
    margin: 0 10%;
    height: 100vh;
}

.main-image {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    
}

.img-presentation {
    height: 40%;
    width: 80%;
    overflow-x: hidden;
}


.text-header {
    color: rgb(39, 39, 39);
    font-size: 150%;
    width: 80%;
    text-align: left;
}

.link-to-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 150px;
    height: 50px;
    padding: 15px 0;
    margin-top: 30px;
    border-radius: 20px;
    color: white;
}


.left-header {
    min-width: 270px;
}




/* --------------------MIS CONOCIMIENTOS---------------- */
.software-tools {
    background-color: rgb(241, 241, 241);
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 20px;
    max-width: 828px;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 260px ;
    margin: 8px;
    padding: 5px;
    border: 1px solid rgb(219, 218, 218);
    border-radius: 5px;
    box-shadow: 0px 1px 8px #b3b3b3;
}




/* -------------------CITA---------------------- */

.quote {
    background: linear-gradient(0deg, rgba(198,129,0,1) 1%, rgba(255,166,0,1) 51%, rgba(255,208,118,1) 100%);
}

#huevo {
    margin-bottom: 25px;
    width:6%;
}

q {
    font-size: 170%;
    font-family: 'Shadows Into Light Two', cursive;
    text-align: center;
}

.autor-quote {
    margin-top: 4%;
    color: #000000;
    font-size: 25px;
}




/* -------------projects------------ */

.column-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1100px;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 310px;
    width: calc(100% / 3 - 1em);
    margin: 8px;
    padding: 30px;
    overflow: hidden;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: transform 2s;
    text-align: center;
}

.project-image {
    width: 100%;
    height: 80%;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}




/* ------------------------CONTACTO------------------------ */

.contact-container {
    display: flex;
    width: 1150px;
    text-align: left;
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
}

.contact-column {
    padding: 40px;
}

.rows {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.contact-text {
    margin-bottom: 30px;
    text-align: justify;
}

label {
    margin: 5px 0px 10px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
}
input, textarea {
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
}

textarea {
    height: 200px;
}

input[type="submit"] {
    background-color: rgb(255, 166, 0);
    color: white;
    padding: 15px 40px;
    font-size: 15px;
    margin-left: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.8s;
}

.text-required-fields {
    color:rgb(117, 117, 117);
    font-size: 14px;
    margin-bottom: 20px;
}

.write-contact-column {
    padding: 0;
    text-align: left;
}

.formular {
    width: 100%;
}

.icons-focus {
    color: #000000
}

/* --------------------FOOTER------------------------- */

footer {
    background-color: #000000;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-nav {
    display: flex;
    line-height: 2.5;
}

.autor-website {
    color:#ffffff;
    margin-top: 40px;
    text-align: center;
}

.footer-nav li {
    margin: 0 20px 50px 20px;
}

.footer-nav a {
    color: #ffffff;
}

.footer-social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social-icons a {
    color: white
}

.icons-footer {
    height: 55px;
}
.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    color:#ffffff;
    font-size: 20px;
    background-color: rgb(255, 166, 0);
    border-radius: 100%;
    margin: 0 10px;
    transition: 0.5s;
}
.contact-social-media {
    width: 160px;
    height: 60px;
    margin:10px;
    border-radius: 50px;
    display: flex;
    margin-top: 10px;
    margin-left:5px;
}




/* ----------------------HOVER Y FOCUS---------------------- */

a {
    display: flex;
    align-items: center;
    outline: none;
}

li a:hover {
    color:rgb(255, 166, 0);
}

li a:focus {    
    box-shadow: 0px 0px 15px 0px rgb(255, 166, 0);
    border-radius: 30px;
}


li .redes:hover {
    color:rgb(255, 166, 0);
    background-color: #ffffff;
    border: 1px solid rgb(255, 166, 0);
}

.link-to-proyects:focus {
    box-shadow: 0px 0px 15px 0px rgb(255, 166, 0);
}

.contact-nav:hover {
    background-color: #ffffff;
    color:#000000;
    box-shadow: 0px 0px 15px 0px rgb(255, 166, 0);
}


.link-to-projects:hover, input[type="submit"]:hover {
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px 0px #794F01;
}

.contact-nav:focus, .link-to-projects:focus, input[type="submit"]:focus {
    background-color: #000000;
    color: rgb(255, 166, 0);
}

.contact-social-media a:focus {
    box-shadow: 0px 0px 15px 0px  #794F01;
    width: 90%;
}

.skills:hover {
    border: 1px solid rgb(194, 128, 6);
}

.skills:hover > h4 {
    color:rgb(194, 128, 6);
}

.icons-focus:hover > i {
    color:rgb(255, 166, 0);
    background-color: #ffffff;
    border: 1px solid rgb(255, 166, 0);
}

.project:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transform: scale(1.05);
}

.project:hover > h4 {
    color: #f04184;
}

.project:focus {
    box-shadow: #f04184 0px 2px 8px;
}

.icons-footer:focus {
    box-shadow: rgb(255, 166, 0) 0px 0px 8px 0px;     
    height: 55px;
}

input:focus, textarea:focus {
    outline: none;
    box-shadow: 0px 0px 15px 0px  #794F01;
}


/* //////////////////////DARK MODE //////////////*/



.dark-mode-font {
    color: #ffffff;
}
.dark-mode-background-section {
    background-color: rgb(34, 34, 34);
}
.project-dark-mode {
    background-color: #4e4949;
    border: 1px solid rgba(204, 133, 2, 0.63);
    box-shadow: 0px 0px 10px 0px rgb(255, 166, 0);
}





/* -----------DISPOSITIVOS MÓVILES ---------*/

/* Celulares */

/* Celulares en modo horizontal y tablets pequeñas */



/* Monitores grandes */



/* Monitores pequeños */
@media (max-width: 1200px) {
    nav {
        justify-content: flex-end;
        padding-right: 10px;
    }
    .list-nav-links {
        display: none;
    }
    .fa-bars {
        display: contents;
    }
    h2 {
        text-align: center;
    }

    /* ----INTRODUCCIÓN------ */
    
    .main-section {
        display:flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .left-header {
        align-items: center;
    }
    .text-header {
        text-align: center;
    }

    /* ------FOOTER----------- */
    .footer-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    /* -------MIS CONOCIMIENTOS---------- */

    .skills {
        max-width:280px;
        max-height: 280px;
    }
    .skilldescription {
        width: 100%;
    }
    .skills-container {
        max-width: 552px ;
    }
    /* CITA */
    
    /* el huevo lo dejé con id porque quiero que algún día se rompa y no se si se puede hacer con JavaS eso */
    #huevo {
        width: 20%;
    }
    /* Contactame */
    .contact-container {
        max-width: fit-content;
        flex-direction: column;
    }
    .contact-column {
        width: 600px;
        display: flex;
        flex-wrap: wrap;
    }
    .rows {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
/* 
    .column {
        width: 500px;
    }
} */
}

/* Tablets  */

@media (max-width: 992px) {  
    .project {
    width: calc(100% / 2 - 1em);
 } 
}
/* Celulares en modo horizontal y tablets pequeñas */

@media (max-width: 768px) {     
    .skills-container {
            max-width: 260px ;
        }
    .project {
        width: 100%;
        height: 35vh;
    }
    .contact-column {
        width: 100vw;
    }
    .projects-container {
        justify-content: center;
        max-width: 60vw;
    }  
    #fname, #lname {
        width: calc(100vw / 2.3 - 1em)
    }   
}

/* Celulares */

@media (max-width: 576px) {    
   
.left-header {
    max-width: 340px;
    text-align: center;
}
h1 {
    line-height: 1.5;
    margin: 30px 0;
    max-width: 300px;
}
h2 {
    font-size: 10vw;
}
.autor-quote {
    text-align: center;
}
input[type = "submit"] {
    display: flex;
    justify-content: center;
}
#fname, #lname {
    width: 75vw;
}
.text-required-fields {
    width: 150px;
} 
.img-presentation {
    width: 90vw;
}
.project-image {
    height: 60%;
}
 h4 {
 font-size: 15px;
}

}


