@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rock+Salt&family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&family=Shadows+Into+Light+Two&display=swap');

* {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0;
}

html, body {
    height: 100%; 
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: white;
}

ul {
    list-style: none;
}

svg {
    width: 40%;
    margin-top: 6px;
}

h1 {
    color: rgb(255, 166, 0);
    font-size: 300%;
    padding-bottom: 5px;
    font-family: 'Rock Salt', cursive;
}

h2 {
    font-size: 3em;
    padding-bottom: 20px;
}

h4 {
    font-size: 18px;
    margin: 8px 0px;
}

h3 {
    font-size: 200%;
}

section {
    padding: 110px 40px 130px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1, .boton, .autor, input[type="submit"], label, #contactoheader {
    font-weight: bold;
}

/*---------------NAV---------------------*/

nav {
    padding: 20px 0;
    background-color: black;
    box-shadow: 0px 5px 8px #888888;
    width:100%;
    position: fixed;
}

.nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}

.navheader {
    padding: 10px;
    margin: 0px 10px;
    border-radius: 20px;
}

#contactoheader {
    background-color: rgb(255, 166, 0);
}


/* ------SECCIONES---------- */


/* --------------HEADER/SOBRE MI---------- */

.sobremi {
    display: flex;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%;
    height: 100vh;
}

.columna1 {
    min-width: 500px;
}

.column-img {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 600px;
}

.introtexto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.imgpresentacion {
    max-width: 600px;
    display: block;
}

.presentacion {
    color: rgb(129, 126, 126);
    font-size: 150%;
    width: 80%;
    text-align: left;
}

.boton {
    font-size: 1em;
    background-color: rgb(255, 166, 0);
    border-radius: 10px;
    padding: 15px;
    width:180px;
    margin: 40px 0;
    text-align: center;
}


/* ---MIS CONOCIMIENTOS--------- */
.conocimientos {
    background-color: rgb(241, 241, 241);
}

.skillsjuntas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    max-width: 900px;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 8px;
    padding: 5px;
    border: 1px solid rgb(219, 218, 218);
    width: 260px;
    height: 260px ;
    border-radius: 5px;
    box-shadow: 0px 1px 8px #b3b3b3;
}

/* ------CITA----- */

.cita {
    background: rgb(198,129,0);
    background: linear-gradient(0deg, rgba(198,129,0,1) 1%, rgba(255,166,0,1) 51%, rgba(255,208,118,1) 100%);
}

#huevo {
    margin-bottom: 25px;
    width:6%;
    height: auto;
}

q {
    font-size: 170%;
    font-family: 'Shadows Into Light Two', cursive;
    text-align: center;
}

.autor {
    margin-top: 5%;
    color: black;
}

/* -------------PROYECTOS------------ */

.proyect {
    width: 400px;
    height: 320px;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.5s ease-in-out;
    transition: transform 2s;
}

.proyect:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transform: scale(1.05);
}

.imagenproyecto {
    width: 300px;
    height: auto;
}

/* --------------------FOOTER------------------------- */

footer {
    background-color: black;
    padding: 80px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-nav {
    display: flex;
}

.hechopor {
    color:white;
    margin-top: 40px;
}

.footer-nav li {
    margin: 0 20px 50px 20px;
}

.footer-iconos-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconos > i {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.redes {
    color:white;
    font-size: 20px;
    background-color: rgb(255, 166, 0);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.textdescription {
    width: 80%;
    text-align: center;
    color:gray;
    font-size: 18px;
}


/* ---------------CONTACTO------- */

.contact {
    text-align: left;
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
    display: flex;
    width: 1150px;
}

.contact-column {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width:50%;
}

.rows {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    margin-left: 10px;
}

label {
    margin: 5px 0px 10px;
    font-family: 'Courier New', Courier, monospace;
}

input, textarea {
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
}

textarea {
    height: 200px;
}

input[type="submit"] {
    background-color: rgb(255, 166, 0);
    color: white;
    padding: 15px 40px;
    font-size: 15px;
}


/* -----------DISPOSITIVOS MÓVILES ---------*/

@media screen and (max-width: 1100px) {
    
    html,body {
        overflow-x: hidden;
    }

    nav {
        display: none;
    }

    h2 {
        text-align: center;
    }

    /* ----INTRODUCCIÓN------ */
    
    .sobremi {
        display:flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .columna1 {
        align-items: center;
    }

    .presentacion {
        text-align: center;
    }

    /* ------FOOTER----------- */
    .footer-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .iconosociales {
        min-height: 30px;
        min-width: 30px;
    }
    /* -------MIS CONOCIMIENTOS---------- */
   
    .skills {
        max-width:280px;
        max-height: 280px;
    }

    .skilldescription {
        width: 100%;
    }

    /* CITA */
    
    #huevo {
        width: 30%;
    }

    /* MIS PROYECTOS */

    .imagenproyecto {
        max-height: 190px;        
    }

    .proyect {
        width: 70vw;
    }

    /* Contactame */
    .contact {
        max-width: fit-content;
        flex-direction: column;
    }

    .contact-column {
        width: 600px;
        display: flex;
        flex-wrap: wrap;
    }

    .rows {
        display: flex;
        flex-wrap: wrap;
    }

    .column {
        width: 450px;
    }

    
}